<div class="container border rounded w-75 mt-5 p-2">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
 
    <div class="field">
      <%= f.label :email, class: "form-label" %><br />
      <%= f.email_field :email, placeholder: "example@email.com",class: "form-control", aria: {describedby: "passwordHelpBlock"}%>
      <div id="passwordHelpBlock" class="form-text">
        Remember an email always contains an @ symbol
      </div>
    </div>
    
    <div class="d-flex p-2 m-2 justify-content-between w-75" >
      <div class="actions me-4">
        <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
      </div>

      <%= render "devise/shared/links" %>
    </div>
  <% end %>

  
</div>

