<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li class="danger"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title, class: "form-label mt-1" %>
    <%= form.text_field :title, class: "form-control mb-2" %>
  </div>

  <div class="field">
    <%= form.label :body, class: "form-label mt-1" %>
    <%= form.text_area :body, class: "form-control" %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="actions my-3">
    <%= form.submit button_tag, class: 'btn btn-primary' %>
  </div>
<% end %>
