<h1>Posts</h1>

<div class="container-fluid p-5 bg-light">
  <% if user_signed_in? %>
  <div class= "container-fluid d-flex justify-content-center">
    <%= link_to "Tell your Story", new_post_path , class: "btn btn-primary mx-auto"%>
  </div>
    <hr>
  <% end %>
  <% @posts.each do |post| %>
    <h2><%= post.title %></h2>
    <p><%= post.body %></p>
    <%if user_signed_in?%>
    <p>by <%= post.user.username %></p>
    <% end %>
    <% if current_user == post.user %>
      <%= link_to "Edit post", edit_post_path(post),class: "btn btn-primary" %>
    <% end %>
    <hr>
  <% end %>
</div>
<!-- 
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <% if user_signed_in? %>
        <th>Author</th>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <% if user_signed_in? %>
          <td><%= post.user.username %></td>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Post', new_post_path, class:'btn btn-primary' %>
-->
