<h1>Most Recent Posts...</h1>

<div class="container-fluid p-5 bg-light">
  <% if user_signed_in? %>
  <div class= "container-fluid d-flex justify-content-center">
    <%= link_to "Tell your Story", new_post_path, class: "btn btn-primary mx-auto"%>
  </div>
    <hr>
  <% end %>

  <div class="accordion accordion-flush" id="accordion">
    <% @posts.each do |post| %>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-heading-<%= post.id %>">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-<%= post.id %>" aria-expanded="false" aria-controls="flush-collapse-<%= post.id %>">
            <%= post.title %>
            <% if user_signed_in? %>
              <div>
                <span class="fst-italic text-sm ms-2"> by <%= post.user.username %></span>
              </div>
            <% end %>
          </button>
        </h2>
        <div id="flush-collapse-<%= post.id %>" class="accordion-collapse collapse" aria-labelledby="flush-heading-<%= post.id %>" data-bs-parent="#accordion">
          <div class="accordion-body">
            <%= post.body %>
            <div class="mt-3">
              <% if current_user == post.user %>
                <%= link_to "Edit post", edit_post_path(post), class: "btn btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <nav aria-label="Page navigation" class="mt-5 d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item">
        <%= link_to 'Prev', posts_path(page: @page - 1), class: 'page-link' %>
      </li>
      <li class="page-item disabled">
        <%= link_to (@page + 1), posts_path(page: @page), class: 'page-link' %>
      </li>
      <li class="page-item">
        <%= link_to 'Next', posts_path(page: @page + 1), class: 'page-link' %>
      </li>
    </ul>
  </nav>
</div>
